@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<br />


    <h4>Team Members:</h4>
<address style="font-family:Arial">
    <pre>
    <strong>Anjali Patil  :</strong>   <a href="mailto:patilanjali1632@gmail.com">patilanjali1632@gmail.com</a><br />

    <strong>Snehal Barge  :</strong> <a href="mailto:snehalbarge311@gmai.com">  snehalbarge311@gmai.com</a><br />

    <strong>Tanvi Dhasade :</strong>   <a href="mailto:dgasadetanvi49@gmail.com">dgasadetanvi49@gmail.com</a><br />

    <strong>Diksha Rambhad:</strong>   <a href="mailto:diska.rambhad99@gmail.com">diska.rambhad99@gmail.com</a><br />

    <strong>Sanjana Mishra:</strong>   <a href="mailto:msanjana7777@gmail.com">msanjana7777@gmail.com</a>
</pre> 
</address>