<!DOCTYPE html>
<html>
<head>
    <style>
        *{
            margin:0;
            padding:0;
            
        }
        header {
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../Content/Images/img7.jpeg');
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            position: fixed;
            top: 0;
            left: 0;
        }
        .title
        {
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%)
        }
            .title h4 {
                color: #fff;
                font-size: 35px;
            }
        .title h2{
            color:#fff;
            font-size:42px;
            font-family:'Franklin Gothic';
        }
        .button {
            position: absolute;
            top: 62%;
            left: 50%;
            transform: translate(-50%,-50%)
        }
        .btn{
            border:1px solid #fff;
            padding:10px 30px;
            color:#fff;
            text-decoration:none;
            transition:0.6s ease;
            /*//background-color:deepskyblue;*/
        }
        .btn:hover{
            background-color:#fff;
            color:#000;
        }
    </style>
</head>
<body >
    <header>
        <center>
            <div class="title">
                <h4>Welcome to</h4>
                <h2><b>EMPLOYEE TRAVEL BOOKING SYSTEM</b></h2>
            </div>
            <div class="button">
                <a href="~/Login/Login" class="btn">Log In</a>
              
            </div>
        </center>
    </header>
</body>
</html>
















































@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@


