
@{
    ViewBag.Title = "ViewForDelete1";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<center>
    <h2>Ticket has been Canceled successfully</h2>
    <h4>Check Your Current Status for confirmation</h4>
</center>
